@model Hotels.Models.Reserva

@{
    ViewBag.Title = "Detalles";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}


<h2>Detalles</h2>

<fieldset>
    <legend>Reserva</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitacion.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitacion.ID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Volver a la lista", "Lista")
</p>
