@model Hotels.Models.Reserva

@{
    ViewBag.Title = "Detalles";
}


@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}


<h2>Detalles</h2>
Contempla la belleza natural de Marbella desde éstas cálidas, elegantes y luminosas estancias. Ponemos a tu disposición 24 amplias habitaciones clásica vista montaña (35 m2 / 377 sq. ft.) (2 de ellas adaptadadas para minusválidos) sin balcón y con vistas a la conocida Sierra de las Nieves, catalogada por la UNESCO como Reserva de la Biosfera por su riqueza paisajística y natural. Descubre uno de los enclaves más espectaculares de España desde esta elegante habitación ubicadas entre la Primera y Sexta planta. Dispone de cuarto de baño terminado en mármol con amenities de la firma cosmética Clarins - Paris.
<fieldset>
    <legend>Reserva</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        Contempla la belleza natural de Marbella desde éstas cálidas, elegantes y luminosas estancias. Ponemos a tu disposición 24 amplias habitaciones clásica vista montaña (35 m2 / 377 sq. ft.) (2 de ellas adaptadadas para minusválidos) sin balcón y con vistas a la conocida Sierra de las Nieves, catalogada por la UNESCO como Reserva de la Biosfera por su riqueza paisajística y natural. Descubre uno de los enclaves más espectaculares de España desde esta elegante habitación ubicadas entre la Primera y Sexta planta. Dispone de cuarto de baño terminado en mármol con amenities de la firma cosmética Clarins - Paris.
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitacion.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitacion.ID)
        
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Volver a la lista", "Lista")
</p>
