@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Lista de Tus Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Regresar", "Index")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Habitacion No.
        </th>
        <th></th>
    </tr>       


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.ID)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Ver detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
    @if (Model.Count() == 0)
    {
        <p>No hay ninguna reserva.</p>
    }

</table>
