@model IEnumerable<Hotels.Models.Reserva>

@{
    ViewBag.Title = "Lista de Tus Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<!--
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Regresar", "Index")
</p>
    -->

@if(Model.Count() == 0)
{
    <p id="letraTextoSinReserva">No hay ninguna reserva.</p>
}
else
{
    <table id="listaReservas">
        <p id="textoListaReservas">
            Reservas
        </p>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Habitacion No.
            </th>
            <th></th>
        </tr>       


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.ID)
            </td>
            <td>
                @Html.ActionLink("Ver Detalles", "Details", "Reserva", new { id = item.ID }, new { @class = "iconoDetallesReserva" })
                <!--@Html.ActionLink("Editar", "Edit", "Reserva", new { id = item.ID }, new { @class = "iconoEditarReserva" })-->
                @Html.ActionLink("Eliminar", "Delete", "Reserva", new { id = item.ID }, new { @class = "iconoEliminarReserva" })
            </td>
        </tr>
    }



</table>
}