@if (Request.IsAuthenticated) {
    <text>
        
        @Environment.UserName
        @Html.ActionLink("Datos personales", "Datos_personales", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @Html.ActionLink("Cambiar contraseña", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "NoSeUsa" })</li>
        <li>@Html.ActionLink("Ingresa", "Login", "Account", routeValues: null, htmlAttributes: new { id = "NoSeUsa" })</li>
    </ul>
}
