@model Hotels.Models.Habitacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Habitacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Avalible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avalible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StarDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StarDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Volver a las habitaciones disponibles", "ElegirHabitacion", "Reserva", new { id = Model.ID }, null)
</p>
